@charset "UTF-8";

/*--------------------------------------
  箱
---------------------------------------*/
.u-{
  &boxError{
    background: #F5E7E7;
    border-radius: 6px;
    padding: 16px 20px;
    color:rgba(211, 57, 65, .8) ;
    font-size: 1.3rem;
    margin-bottom: 32px;
    transform: rotate(.1deg);
  }//boxError
  &inputsBox1{
    .inputs{
      > li{
        margin-bottom: 25px;
      }
    }
    input{
      max-width: 260px;
      margin: auto;
    }
  }//inputsBox1
}
