@charset "UTF-8";

/*--------------------------------------
  ボタン
---------------------------------------*/
.u-{
  &btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    font-size: 1.6rem;
    background-color: #A0A0A0;
    margin: 0 15px;
    @include hvrBrt(1.3);
    color: #FFF;
    &[disabled]{
      cursor: default;
      background-color: #aaaaaa;
      color: rgba(255,255,255,.6);
    }
    span{
      display: block;
      background-color: rgba(0,0,0,0.5);
      width: 12px;
      height: 12px;
      margin: auto;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
    }
    &.sz1{
      height: 36px;
    }
    &.sz2{
      width: 180px;
      height: 34px;
      font-size: 1.4rem;
    }
    &.sz3{
      width: 171px;
      height: 36px;
    }
    &.clr1{
      background-color: $brown2;
      &:disabled{
        background-color: #aaaaaa;
      }
    }
    &.clr2{
      background-color: $blue2;
      &:disabled{
        background-color: #aaaaaa;
      }
    }
    &.clr3{
      background-color: $orange2;
      &:disabled{
        background-color: #aaaaaa;
      }
    }
    &.clr4{
      background-color: $pink2;
      &:disabled{
        background-color: #aaaaaa;
      }
    }
    &.clr5{
      background-color: $green2;
      &:disabled{
        background-color: #aaaaaa;
      }
    }
    &.clr3{
      background-color: $orange2;
      color: #FFF;
      @include hvrBrt(1.3);
      &:disabled{
        background-color: #aaaaaa;
        opacity: .6;
      }
    }
    &.clr4{
      background-color: $pink2;
      color: #FFF;
      @include hvrBrt(1.3);
      &:disabled{
        background-color: #aaaaaa;
        opacity: .6;
      }
    }
    &.clr5{
      background-color: $brown3;
      color: #FFF;
      @include hvrBrt;
      &:disabled{
        background-color: #aaaaaa;
        opacity: .6;
      }
    }
    &.clr6{
      background-color: $grey2;
      color: #FFF;
      @include hvrBrt(1.2);
    }
  }//btn1
  &btn2{
    display: inline-block;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    background-color: #E8E7E2;
    color: $brown3;
    padding: .3em 1em;
    border-radius: 50px;
    
    &[disabled]{
      cursor: default;
    }
    span,em{
      display: flex;
      align-items: center;
        &:after{
          margin-left: .2em;
          content: "";
          display: inline-block;
          width: .5em;
          height: .5em;
          border-top: 1px solid $brown3;
          border-right: 1px solid $brown3;
          transform: rotate(45deg);
        }
    }
    &.sz1{
    }
    &.clr1{
    }
  }//btn1
  /* ボタン包み */
  &btnWrap1{
    text-align: center;
    display: flex;
    justify-content: center;
  }//btnWrap1
  &btnsWrap{
    text-align: center;
    display: flex;
    justify-content: center;
    > li{
      + li{
        margin-left: 34px;
      }
    }
    .u-btn1{
      margin: 0;
    }
  }//btnsWrap
}
