@charset "UTF-8";

/*--------------------------------------
  ボタン
---------------------------------------*/
.u-{
  &btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    font-size: 1.6rem;
    &[disabled]{
      cursor: default;
    }
    span{
      display: block;
      background-color: rgba(0,0,0,0.5);
      width: 12px;
      height: 12px;
      margin: auto;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
    }
    &.sz1{
      height: 36px;
    }
    &.clr1{
      background-color: $brown2;
      color: #FFF;
      @include hvrBrt(1.3);
      &:disabled{
        background-color: #aaaaaa;
        opacity: .6;
      }
    }
  }//btn1
  &btn2{
    display: inline-block;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
    background-color: #E8E7E2;
    color: $brown3;
    padding: .3em 1em;
    border-radius: 50px;
    
    &[disabled]{
      cursor: default;
    }
    span,em{
      display: flex;
      align-items: center;
        &:after{
          margin-left: .2em;
          content: "";
          display: inline-block;
          width: .5em;
          height: .5em;
          border-top: 1px solid $brown3;
          border-right: 1px solid $brown3;
          transform: rotate(45deg);
        }
    }
    &.sz1{
    }
    &.clr1{
    }
  }//btn1
  /* ボタン包み */
  &btnWrap1{
    text-align: center;
    display: flex;
    justify-content: center;
  }//btnWrap1
}
