@charset "UTF-8";

/*--------------------------------------
  フォーム
---------------------------------------*/
.u-confirmTxt{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  transform: rotate(.1deg);
}
.u-confirmWrap{
  width:1080px ;
  margin: 0 auto;
  border: 3px solid $brown3;
  border-radius: 10px;
  padding-top: 40px;
  margin-bottom: 30px;
}
.u-confirmHead{
  display: flex;
  max-width: 920px;
  width: 100%;
  margin: 0 auto 30px auto;
  justify-content: space-between;
  align-items: flex-end;
  .colL{
    width: 430px;
    display: flex;
    justify-content: space-between;
  }
  .u-btnWrap3{
    padding-bottom: 0px;
    width: 430px;

  }
  .txt1{
    font-weight: bold;
    font-size: 2.6rem;
    span{
      font-size:1.6rem ;
    }
  }
  .type{
    border:2px solid rgba(204, 204, 204, 1);
    border-radius: 50px;
    padding: .6em 1em;
    line-height: 1;
  }
}
.u-confirmBox {
  h2,
  h3,
  li,
  p,
  dt,
  dl,
  button,
  a,
  span {
    transform: rotate(0.1deg);
  }
  .txtR {
    text-align: right;
  }
  .info {
    text-align: right;
    color: $brown4;
    padding: 10px 0 0 0;
    li {
      margin-bottom: 10px;
    }
  }
  width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .className {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      margin-bottom: 10px;
      span {
        display: inline-block;
        font-weight: bold;
        width: 2em;
        text-align: center;
      }
    }
  }
  .col {
    width: 430px;
    &.w100{
      width: 100%;
    }
    section {
      margin-bottom: 40px;
      .u-btnWrap2{
        margin-top: 30px;
      }
    }
  }

  dl {
    display: flex;
    margin-top: 16px;
    padding: 0 0 16px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    &.bd0{
      border-bottom: 0px;
      padding-bottom: 0px;
    }

    dt {
      width: 135px;
      flex-shrink: 0;
      font-weight: bold;
    }
    dd {
      flex-shrink: 0;
      color: $brown4;
      &.kyouka {
        justify-content: space-between;
        dt {
          width: 100px;
          flex-shrink: 0;
          span {
            display: inline-block;
            padding: 0.2em 0.7em;
            background-color: #fff;
            border-radius: 50px;
            font-weight: normal;
          }
        }
        dd {
          margin-top: 0px;
          flex-shrink: 0;
          width: 330px;
          li {
            border-bottom: 1px solid rgba(112, 112, 112, 0.3);
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            &:last-of-type {
              border-bottom: 0px;
              padding-bottom: 0px;
              margin-bottom: 0px;
            }
          }
        }
        &.isType2{
          dl{
            border: 0px;
            margin-top: 0px;
            padding-bottom: 0px;
            margin-bottom: 10px;
          }
        }
      }
    }
    &.col1 {
      display: block;
      border-bottom: 0px;
      &.bdB{
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
      }
      &.PB0 {
        padding-bottom: 0px;
      }
      dt {
        width: auto;
      }
      dd {
        margin-top: 10px;
      }
    }
  }
  .keyUrl{
    text-decoration: underline;
  }
  .entryList{
    margin-top: 20px;
    li{
      background-color: #FFF;
      padding:6px 16px;
      margin-bottom: 2px;
      display: flex;
      span{
        flex-shrink: 0;
        display: inline-block;
      }
      .who{
        font-weight: bold;
        color: $brown3;
        width: 90px;
      }
      .key{
        font-weight: bold;
        color: #E58707;
        width: 100px;
      }
      .date{
        width: 210px;
        text-align: right;
        color: $brown4;
      }
    }
  }
}
