@charset "UTF-8";

/*--------------------------------------
  インナー
---------------------------------------*/
.u-{
  &inner{
    margin-left: auto;
    margin-right: auto;
    &.sz1{max-width: px($innerW);}
    &.sz2{max-width: px($innerW2);}
    &.sz3{max-width: 598px;}
  }//inner
}
