@charset "UTF-8";

/*--------------------------------------
  タイトル
---------------------------------------*/
.u-{
  &ttl1{
    display: flex;
    align-items: center;
    background-color: $brown1;
    padding: 9px 21px;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    &.clr2{
      background-color: $ylw1;
    }
    &.clr3{
      background-color: $lBlue1;
    }
    &.clr4{
      background-color: $brown4;
    }
    &.clr5{
      background-color: $brown6;
    }
    &.c-taC{
      justify-content: center;
    }
    &.sz2{
      padding: 14px 21px;
    }
    &.withBtn{
      justify-content: space-between;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .u-btn1{
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 105px;
      height: 24px;
      margin-left: 15px;
      padding: em(3/11) em(20/11) em(4/11) em(10/11);
      font-size: 1.1rem;
      line-height: 1;
      box-sizing: border-box;
    }
  }//ttl1
  &ttlBox1{
  }//ttlBox1
  &ttl2{
    background-color: $brown2;
    padding: 9px 21px;
    margin-bottom: 16px;
    color:  $brown1;
    font-size: 1.6rem;
    border-left:4px solid  $brown1;
    position: relative;
    &.clr2{
      background-color: $ylw1;
    }
  }//ttl2
  &ttl3{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 1.8rem;
    i{
      flex-shrink: 0;
      width: 26px;
      margin-right: 15px;
      img{
        width: 100%;
      }
    }
  }//ttl3

}
