@charset "UTF-8";

/*--------------------------------------
  タイトル
---------------------------------------*/
.u-{
  &ttlBox1{
    margin-bottom: 30px;
    .u-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
    .colL{
    }
    .colR{
    }
    .ttl{
      display: flex;
      align-items: center;
      i{
        margin-right: 14px;
      }
      h1{
        margin-right: 18px;
        color: $brown4;
        font-size: 2.2rem;
        font-weight: bold;
      }
      h2{
        padding-left: 19px;
        color: #fff;
        font-size: 1.6rem;
        position: relative;
        &:before{
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          margin: auto;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }//.ttl
    .status{
      display: flex;
      > li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 34px;
        color: #fff;
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
        opacity: 0.7;
        box-sizing: border-box;
        position: relative;
        &:after{
          content: "";
          background: url($pathImg + "arw1_r_wht.svg") 0 0 no-repeat;
          background-size: 100% 100%;
          width: 9px;
          height: 15px;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -22.5px;
        }
        + li{
          margin-left: 32px;
        }
        &:last-child{
          &:after{
            content: normal;
          }
        }
        &.here{
          opacity: 1;
          &:after{
          }
        }
      }
    }//status
    &.clr1{
      background-color: $brown1;
      .ttl h2:before{background-color: $brown2;}
      .status > li.here{
        background-color: $brown2;
        &:after{background-image: url($pathImg + "arw1_r_brwn.svg");}
      }
    }
    &.clr2{
      background-color: $blue1;
      .ttl h2:before{background-color: $blue2;}
      .status > li.here{
        background-color: $blue2;
        &:after{background-image: url($pathImg + "arw1_r_blue.svg");}
      }
    }
    &.clr3{
      background-color: $orange1;
      .ttl h2:before{background-color: $orange2;}
      .status > li.here{
        background-color: $orange2;
        &:after{background-image: url($pathImg + "arw1_r_orng.svg");}
      }
    }
    &.clr4{
      background-color: $pink1;
      .ttl h2:before{background-color: $pink2;}
      .status > li.here{
        background-color: $pink2;
        &:after{background-image: url($pathImg + "arw1_r_pnk.svg");}
      }
    }
    &.clr5{
      background-color: $brown5;
      .ttl h2:before{background-color: $brown2;}
      .tabs > li.here{
        background-color: $brown2;
      }
    }
    &.clr6{
      background-color: $green1;
      .ttl h2:before{background-color: $brown2;}
      .tabs > li.here{
        background-color: $brown2;
      }
    }
  }//ttlBox1
}
