@charset "UTF-8";

/*--------------------------------------
  テキスト
---------------------------------------*/
.u-{
  &txtLead1{
    margin: 24px 0;
    text-align: center;
    line-height: (22/14);
  }//txtLead1
  &txtLead2{
    margin: 24px 0;
    font-size: 1.8rem;
    text-align: center;
    line-height: (22/14);
  }//txtLead2
  &txtNotes{
    color: $red1;
    margin: 16px 0 ;
    font-size:1.4rem ;
  }
}
