h2.u-ttl2 学年情報
dl
  dt 学科コース
  dd 普通科
dl
  dt 入学年度
  dd 2021年度(1年生)
dl
  dt 担任クラス
  dd 1組/2組
dl.col1.bdB
  dt 担当教科・科目、教科科目ごとのクラス
  dd.kyouka
    dl.bd0
      dt #[span 国語] 
      dd
        ul 
          li #[span 現代文] ひまわり組 / さくら組 / ぱんだ組
    dl.bd0
      dt #[span 地歴公民] 
      dd
        ul 
          li #[span 数学I] ひまわり組 / さくら組 / ぱんだ組
    dl.bd0
      dt #[span 地歴公民] 
      dd
        ul 
          li #[span 数学I] ひまわり組 / さくら組 / ぱんだ組