header.l-header
  .u-inner
    .colL
      .btnNav
        +img("icn_hamb.svg", "")
      h1.logo
        a(href=""): +img("logo.svg", "")

    .colR
      .userName 竹内 健一 さん
      a.btnMsg(href="18.html")
        +img("icn_msg.svg", "")
        small 1

        
