dl.kamokuWrap 
  dt 履修教科・科目
  dd
    dl.kamoku
      dt 
        span.ttl 国語
        label
          input(type="checkbox")
          span すべて選択
      dd
        ul.col3List 
          li: label
            input(type="checkbox")
            span 現代文
          li: label
            input(type="checkbox")
            span 古文
          li: label
            input(type="checkbox")
            span 漢文
    dl.kamoku
      dt 
        span.ttl 数学
        label
          input(type="checkbox")
          span すべて選択
      dd
        ul.col3List 
          li: label
            input(type="checkbox")
            span 数学I
          li: label
            input(type="checkbox")
            span 数学A
          li: label
            input(type="checkbox")
            span 数学Ⅱ
          li: label
            input(type="checkbox")
            span 数学B
    dl.kamoku
      dt 
        span.ttl 英語
        label
          input(type="checkbox")
          span すべて選択
      dd
        ul.col3List 
          li: label
            input(type="checkbox")
            span 英語
    dl.kamoku
      dt 
        span.ttl 地歴公民
        label
          input(type="checkbox")
          span すべて選択
      dd
        ul.col3List 
          li: label
            input(type="checkbox")
            span 日本史
          li: label
            input(type="checkbox")
            span 世界史
          li: label
            input(type="checkbox")
            span 地理
          li: label
            input(type="checkbox")
            span 現代社会
          li: label
            input(type="checkbox")
            span 倫理
          li: label
            input(type="checkbox")
            span 政治・経済
    dl.kamoku
      dt 
        span.ttl 理科
        label
          input(type="checkbox")
          span すべて選択
      dd
        ul.col3List 
          li: label
            input(type="checkbox")
            span 物理基礎
          li: label
            input(type="checkbox")
            span 化学基礎
          li: label
            input(type="checkbox")
            span 生物基礎
          li: label
            input(type="checkbox")
            span 地学基礎
          li: label
            input(type="checkbox")
            span 物理
          li: label
            input(type="checkbox")
            span 化学
          li: label
            input(type="checkbox")
            span 生物