dl.tannin
  dt 担任クラス
  dd
    ul 
      li: label
        input(type="checkbox")
        span ひまわり組
      li: label
        input(type="checkbox")
        span さくら組
      li: label
        input(type="checkbox")
        span ぱんだ組
      li: label
        input(type="checkbox")
        span きりん組
      li: label
        input(type="checkbox")
        span うぐいす組
      li: label
        input(type="checkbox")
        span ゆず組
dl.kamokuWrap 
  dt 担当教科・科目、科目ごとの担当クラス
  dd
    dl.kamoku
      dt 
        span.ttl 国語
        label
          input(type="checkbox")
          span すべて選択
      dd 
        label
          input(type="checkbox")
          span 
            .txt1 現代文
            .txt2 ひまわり組 / ぱんだ組 / ゆず組
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span
            .txt1 古文
            .txt2 ひまわり組 / ぱんだ組 / ゆず組
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span
            .txt1 漢文
            .txt2 
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
    dl.kamoku
      dt 
        span.ttl 数学
        label
          input(type="checkbox")
          span すべて選択
      dd 
        label
          input(type="checkbox")
          span 
            .txt1 数学I
            .txt2 ひまわり組 / ぱんだ組 / ゆず組
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 数学A
            .txt2 ひまわり組 / ぱんだ組 / ゆず組
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 数学Ⅱ
            .txt2 
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 数学B
            .txt2 
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
    dl.kamoku
      dt 
        span.ttl 英語
        label
          input(type="checkbox")
          span すべて選択
      dd 
        label
          input(type="checkbox")
          span 
            .txt1 英語
            .txt2 ひまわり組 / ぱんだ組 / ゆず組
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
    dl.kamoku
      dt 
        span.ttl 地歴公民
        label
          input(type="checkbox")
          span すべて選択
      dd 
        label
          input(type="checkbox")
          span 
            .txt1 日本史
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 世界史
            .txt2 
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 地理
            .txt2 
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 現代社会
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 倫理
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 世政治・経済史
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
    dl.kamoku
      dt 
        span.ttl 理科
        label
          input(type="checkbox")
          span すべて選択
      dd 
        label
          input(type="checkbox")
          span 
            .txt1 物理基礎
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 化学基礎
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 生物基礎
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 地学基礎
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 物理
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 化学
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する
        label
          input(type="checkbox")
          span 
            .txt1 生物
            .txt2
            .btn 
              a.u-btn2(href="#")  
                em  担当クラスを選択する