extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "02_アカウント 登録メール 送信完了"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr1
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_chkbox1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.status
          li aaaa
          li.here aaaa
          li aaaa

  .u-ttlBox1.clr2
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_unlock1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.status
          li aaaa
          li.here aaaa
          li aaaa

  .u-ttlBox1.clr3
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_user1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.status
          li aaaa
          li.here aaaa
          li aaaa

  .u-ttlBox1.clr4
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_account1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.status
          li aaaa
          li.here aaaa
          li aaaa

  .u-ttlBox1.clr5
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_data1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.tabs
          li: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
          li.here: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
          li: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
          li: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
        .btnLogout: a(href="") ログアウト

  .u-ttlBox1.clr6
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_mail1.svg", "")
          h1 aaaaa
          h2 dddd
      .col.is_R
        ul.tabs
          li: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
          li.here: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa
          li: a(href="")
            i: +img("icn_links.svg", "")
            span aaaa

  p.u-txtLead1 メールアドレスへアカウント登録についての#[br]メールを送信いたしました。#[br]メールの内容をご確認の上、#[br]アカウント登録に進んでください。




  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

