extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "02_アカウント 登録メール 送信完了"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr1
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_chkbox1.svg", "")
          h1 アカウント登録
          h2 メールアドレス入力
      .col.is_R
        ul.status
          li 入力
          li.here 完了

  p.u-txtLead1 メールアドレスへアカウント登録についての#[br]メールを送信いたしました。#[br]メールの内容をご確認の上、#[br]アカウント登録に進んでください。




  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

