extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "07_先生用ログイン"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-inner.sz1
    p.u-txtLead1 アカウント情報を登録するために，#[br]メールアドレスとエントリーキーを入力して#[br]送信ください。

  form.u-inputsBox1(action="")
    ul
      li: input(type="email" placeholder="メールアドレス" )
      li: input(type="text" placeholder="エントリーキー" )
    .u-btnWrap1
      button.u-btn1.clr1(type="submit" onclick="location.href='02.html'") 送信

    ul.u-btnsWrap
      li: a.u-btn1.sz2.clr5(href="") TOP
      li: a.u-btn1.sz2.clr2(href="") アカウント詳細へ


  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

