extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "07_先生用ログイン"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header

block content
  form.u-login(action="")
    .u-inner.sz1
      h1.logo: +img("logo.svg", "")

      ul
        li: input(type="text" placeholder="ID" )
        li: input(type="password" placeholder="パスワード" )
        li: input(type="text" placeholder="秘密の質問の答え" )

      p: a(href="#") ID・パスワード・秘密の質問の答えをお忘れの方はこちら

      .recapcha: +img("dummy_recapcha.png", "")

      .u-btnWrap1
        button.u-btn1.sz1.clr5(type="submit" onclick="location.href=''") ログイン



  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

