extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "08_先生用 ログイン情報再設定メールアドレス入力"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr2
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_unlock1.svg", "")
          h1 ID・パスワード・秘密の質問の答えを忘れた方
          h2 メールアドレス入力
      .col.is_R
        ul.status
          li.here 入力
          li 完了

  .u-inner.sz1
    p.u-txtLead1.c-MB40 ID・パスワード・秘密の質問の答えをお忘れの場合は、#[br]メールアドレスを入力して送信してください。#[br]変更設定用のURLを送信します。

    form.u-inputsBox1(action="")
      ul.inputs.c-MB50
        li: input(type="email" placeholder="メールアドレス" )

      ul.u-btnsWrap
        li: a.u-btn1.sz3.clr6(href="") 戻る
        li: button.u-btn1.sz3.clr2(type="submit") 送信


  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

