extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "15_アカウント変更完了(ログイン時)"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr2
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_unlock1.svg", "")
          h1 アカウント変更
          h2 ログイン時アカウント変更

  p.u-txtLead1.c-MB60 アカウント変更が完了いたしました。

  .u-btnWrap1
    a.u-btn1.sz2.clr2(href="") ログイン画面へ




  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

