extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "23_ユーザーアカウント一覧"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr4
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_account1.svg", "")
          h1 ユーザーアカウント
          h2 一覧
      .col.is_R
        .btnLogout: a(href="") ログアウト

  .u-inner.sz4
    form.u-form2
      .colL
        .row1
          ul
            li: +rdo1("rdo1", "先生", "1", "")
            li: +rdo1("rdo1", "生徒", "2", "1")
        .row2
          dl
            dt 入学年度
            dd.szL
              .u-selectBox
                select(required)
                  option(value="2021") 2021年度(高校1年生)
            dt 学科コース
            dd: input(type="text" placeholder="学科コース")
            dt クラス
            dd: input(type="text" placeholder="クラス")
        .row3
          dl
            dt 名前
            dd.szL: input(type="text" placeholder="名前")
          ul.btns1
            li: a.u-btn1.sz4.clr7(href="") クリア
            li: button.u-btn1.sz4.clr4(type="submit"): em.iconSearch 検索
      .colR
        ul.btns2
          li: a.u-btn1.sz4.clr5(href=""): em.iconCirclePlus 新規登録
          li: a.u-btn1.sz4.clr8.withArw(href="") クラス人数確定
          li: a.u-btn1.sz4.clr8.withArw(href="") 最終人数確定

    table.u-tbl1
      thead
        tr
          th 
          th ログインID
          th 名前
          th 権限
          th 入学年度
          th クラス
          th 教科係
          th 利用状況
          th 
      tbody
        -for (var i = 1; i <= 16; i = i + 2)
          tr
            td #{i}
            td 129h76
            td 東京太郎さん
            td 生徒
            td 2021
            td 2組
            td
              .status.is_kyoka(data-status="")
                p -
                a.btn(href="") 任命
            td
              .status.is_riyo(data-status="on")
                p 利用中
                a.btn(href="") 停止
            td: a.u-btn1.btnDtl.clr4.withArw(href="") 詳細
          tr
            td #{i + 1}
            td 9di4kcl
            td 岡山花子さん
            td 生徒
            td 2021
            td 4組
            td
              .status.is_kyoka(data-status="on")
                p 教科係
                a.btn(href="") 解除
            td
              .status.is_riyo(data-status="")
                p 停止中
                a.btn(href="") 再開
            td: a.u-btn1.btnDtl.clr4.withArw(href="") 詳細


  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

