extends /_include/_layout.pug

block varsEdit
  -
    var layer = "other"
    //↓編集領域↓
    var pageName = "このページのファイル名(.html付けない)"
    var pageUrl = pageName + ".html"
    var pageTitle = "36_学習情報詳細 Links"
    var pageClass = "pageOther"
    var pageColor = "lBrown"
    //↑編集領域↑

block header
  include /_include/_header.pug

block content
  .u-ttlBox1.clr5
    .u-inner.sz1
      .col.is_L
        .ttl
          i: +img("icn_data1.svg", "")
          h1 学習情報詳細
      .col.is_R
        ul.tabs
          li
            span
              i: +img("icn_links.svg", "")
              b Links
          li
            a(href="")
              i: +img("icn_items.svg", "")
              b Items
          li
            a(href="")
              i: +img("icn_trials.svg", "")
              b Trials
          li
            a(href="")
              i: +img("icn_arms.svg", "")
              b Arms
        .btnLogout: a(href="") ログアウト

  //- mixin
  mixin select(val, txt)
    .u-selectBox
      select(required)
        option(value=val)!= txt 

  .u-inner.sz1
    form.u-form3
      .colL
        .row1
          dl
            dt 学年
            dd: +select("", "学年")
          dl
            dt 学科コース
            dd: +select("", "コース")
          dl
            dt クラス
            dd: +select("", "クラス")
        .row2
          dl
            dt 教材
            dd: +select("", "直前演習")
          dl
            dt 教科
            dd: +select("", "教科")
          dl
            dt 科目
            dd: +select("", "科目")
          dl
            dt 回
            dd: +select("", "回")
        .row3
          ul
            li: button.u-btn1.sz5.clr9(type="submit"): em.iconSearch 検索
            li: a.u-btn1.sz5.clr9(href="") CSV出力
            li: small マーク集計Plus 集計ツールに#[br]取り込むためのCSVが出力されます。

    section.u-whtBox1
      .u-ttlBox2
        h3.ttl
          i: +img("icn_data1_orng.svg", "")
          span 学習情報

      .u-infoDtlTbl1
        //- ここから
          スクロールバーの位置はデザインとはズレていても、スクロールする要素が同じなら良い
        table
          thead
            tr
              th 
              th 大単元
              th 中単元
              th 小単元
              th コンテンツ名
              th Lv.
              th 人数
          tbody
            -for (var i = 1; i <= 12; i++)
              tr
                td #{i}
                td 帝国主義とアジア諸地域の動揺帝国主義とアジア諸地域の動揺
                td 句法③(比較/選択/仮定/限定/抑句法③(比較/選択/仮定/限定/抑
                td 1
                td 
                td 
                td 


    section.u-whtBox1
      .u-ttlBox2.hasSelect
        h3.ttl
          i: +img("icn_box_blue.svg", "")
          span My Box ランキング
        .u-selectBox2
          select(required)
            option(value="") 実施回

      .u-rankTbl1
        table
          thead
            tr
              th 
              th 大単元
              th 中単元
              th 小単元
              th コンテンツ名
              th Lv.
              th 人数
          tbody
            -for (var i = 1; i <= 12; i++)
              tr
                td #{i}
                td 帝国主義とアジア諸地域の動揺帝国主義とアジア諸地域の動揺
                td 句法③(比較/選択/仮定/限定/抑句法③(比較/選択/仮定/限定/抑
                td 1
                td 
                td 
                td 


  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });

