extends /_include/_layout.pug

block varsEdit
  - var layer = "top"
  - var pageColor = "lBrown"

block content
  h1.u-ttl1 アカウント



  script.
    $(function(){
      console.log("必要なjsはページ毎に個別で記述");
    });
