extends /_include/_layout.pug

block varsEdit
  -
    var layer = "lower"
    //↓編集領域↓
    var pageUrl = ""
    var pageTitle = "ページ一覧"
    var pageDesc = "ページ管理用のファイル"
    var pageClass = "pagePage"
    //↑編集領域↑
    var desc = pageDesc

block content
  .pageList1
    h1 #{siteTitle} ページ一覧
    p: a(target="_blank" href="src/styleguide/") スタイルガイド

    table
      thead
        tr
          th 済
          th 期限
          th ページ名
          th 備考
      tbody
        tr
          - var no = "01"
          - var thisName = "ユーザーアカウント管理_アカウント登録（メールアドレス入力）"
          td ✓
          td
          th: a(target="_blank" href= no + ".html") #{no}_#{thisName}
          td