.scrlBox
  ul
    li: a.clkScrl(href="#secMemo") コーディングメモ
    li: a.clkScrl(href="#secRes") レスポンシブ
    li: a.clkScrl(href="#secHeader") ヘッダー
    li: a.clkScrl(href="#secInner") インナー
    li: a.clkScrl(href="#secColor") 色
    //li: a.clkScrl(href="#secTxt") フォントサイズ
    li: a.clkScrl(href="#secFw") フォントの太さ
    li: a.clkScrl(href="#secTtl") タイトル
    li: a.clkScrl(href="#secTxt") テキスト
    li: a.clkScrl(href="#secLink") リンク
    li: a.clkScrl(href="#secBtn") ボタン
    //li: a.clkScrl(href="#secLbl") ラベル
    li: a.clkScrl(href="#secIcn") アイコン
    li: a.clkScrl(href="#secBox") 箱
    li: a.clkScrl(href="#secList") リスト
    //li: a.clkScrl(href="#secPager") ページャー
    li: a.clkScrl(href="#secForm") フォームパーツ
    //li: a.clkScrl(href="#secCombo") 組み合わせによる大きいパーツ
  //p クリックでスクロールは
    br
    |aタグに.clkScrlを設定する
    br
    |移動先はhref="#～"で指定
  //p .clkScrlの停止位置を調整する場合は.clkScrl2など増やしていく




