@charset "UTF-8";

/*--------------------------------------
  ページャー
---------------------------------------*/
.u-{
  &pager1{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }//pager1
}
